
<%- include menu.ejs %>

<div class="container">

    <div class="container">
        <hr>
        <div class="row"></div>
        <div class="well">
            <form method="post" enctype="multipart/form-data" action="/upld">
                <input type="file" name="userFile" />
                <button type="submit">load!!!</button>
            </form>
        </div>
    </div>

 </div>